#link{
    font-weight: lighter;
    text-decoration:none;
}
img {
    border-radius: 0.5rem ;
}
sub{
    font-size: 15px!important;
}

.changeWidth{
    margin: 0 auto!important;
    width: 25%!important;
}